<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Create Person</title>
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-3">Create Person</h1>
    <div class="card">
        <div class="card-body">
            <form class="row g-3" method="post" action="{{url_for('person_blueprint.create_form')}}">

                <div class="col-6">
                    <label class="form-label">First Name</label>
                    <input type="text" name="{{form.first_name.name}}" value="{{form.first_name.value}}" class="form-control {{ form.first_name.has_error and 'is-invalid' }}">
                    {% if form.first_name.errors %}
                        <div class="invalid-feedback">
                            {{- form.first_name.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="col-6">
                    <label class="form-label">Last Name</label>
                    <input type="text" name="{{form.last_name.name}}" value="{{form.last_name.value}}" class="form-control">
                </div>

                <div class="col-6">
                    <label class="form-label">Email</label>
                    <input type="email" name="{{form.email.name}}" value="{{form.email.value}}" class="form-control {{ form.email.has_error and 'is-invalid' }}">
                    {% if form.email.errors %}
                        <div class="invalid-feedback">
                            {{- form.email.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="col-6">
                    <label class="form-label">Age</label>
                    <input type="number" name="{{form.age.name}}" value="{{form.age.value}}"  class="form-control {{ form.age.has_error and 'is-invalid' }}">
                    {% if form.age.errors %}
                        <div class="invalid-feedback">
                            {{- form.age.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="col-6">
                    <label class="form-label">Income</label>
                    <input type="number" name="{{form.income.name}}" value="{{form.income.value}}" class="form-control">
                </div>


                <div class="col-12 float-end">
                <span class="float-end">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="#" class="btn btn-danger">Cancel</a>
                </span>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>